.container {
  border: 1px solid rgba(30, 30, 30, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
}

.checkbox {
  width: 20px;
  height: 20px;
  align-self: center;
}

.content {
  display: flex;
  gap: 20px;
}

.titleCompleted {
  text-decoration: line-through;
  color: green;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s ease-in-out background-color;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}